html {
	background: url(mountains.JPG) no-repeat center center fixed; 
    background-size: cover;
}
body {
	font-family: Damascus;
	text-align: center;
}
header{
	color: white;
	font-size: 40px;
	text-shadow: 1px 1px gray;
}
.mainImg {
	width:240px;
	height:160px;
	border: 2px solid white;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a.headText {
	color:white;
}

a.headText:visited {
	color: white;
}

.headText:hover {
	color:black;
}

.links {
	color: black;
	font-size: 20px;
	text-decoration: none;
	margin:0 15px;
}
.links:hover {
	color:white;
}

p {
	color: black;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
#bio {
	background-color: rgba(255,255,255,0.55);
}
#resume {
	background-color: rgba(255,255,255,0.55);
	text-align: left;
}
p.sections {
	font-weight: bold;
	text-align: left;
}