html {
	background: url(mountains.JPG) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body {
	font-family: Damascus;
	letter-spacing: -1.5px;
	text-align: center;
}
header{
	color: white;
	font-size: 40px;
	text-shadow: 1px 1px gray;
}
a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	color: white;
}
#links {
	color: black;
	font-size: 20px;
	text-decoration: none;
}
p {
	color: black;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}