html {
	background: url(mountains.JPG) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body {
	font-family: Verdana, sans-serif;
	letter-spacing: -1.5px;
	text-align: center;
}
header{
	text-align: center;
	color: white;
	font-size: 40px;
}
a {
	color: white;
	font-size: 20px;
}

p {
	color: black;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}